Web References/WSFarmaciaTotem1/FarmaciaTotem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://interoperabilidad.saludenred.cl:8305/FarmaciaTotem.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RayenSalud.Integraciones.TotemFarmacia.WebService" />
  <xs:element name="GenerarTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RayenSalud.Integraciones.TotemFarmacia.WebService" minOccurs="0" name="request" nillable="true" type="q1:ParametroGenerarTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RayenSalud.Integraciones.TotemFarmacia.WebService" minOccurs="0" name="GenerarTicketResult" nillable="true" type="q2:ParametroRespuestaGenerarTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>