App_WebReferences/WSCitas/MetodosTotemDTS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://rayensalud.cl.TotemDTS.Entidades" elementFormDefault="qualified" targetNamespace="http://rayensalud.cl.TotemDTS.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParametroObtenerCitasPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="RunPaciente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParametroBase" nillable="true" type="tns:ParametroBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametroObtenerCitasPaciente" nillable="true" type="tns:ParametroObtenerCitasPaciente" />
  <xs:complexType name="ParametroBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoEstablecimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaHoraMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSitioSoftware" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSoftwareInforma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VersionSoftwareInforma" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametroBase" nillable="true" type="tns:ParametroBase" />
  <xs:complexType name="RespuestaObtenerCitasPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Paciente" nillable="true" type="tns:Paciente" />
      <xs:element minOccurs="0" name="Citas" nillable="true" type="tns:ArrayOfCita" />
      <xs:element minOccurs="0" name="RespuestaBase" nillable="true" type="tns:RespuestaBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaObtenerCitasPaciente" nillable="true" type="tns:RespuestaObtenerCitasPaciente" />
  <xs:complexType name="Paciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paciente" nillable="true" type="tns:Paciente" />
  <xs:complexType name="ArrayOfCita">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cita" nillable="true" type="tns:Cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCita" nillable="true" type="tns:ArrayOfCita" />
  <xs:complexType name="Cita">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Profesional" nillable="true" type="tns:Profesional" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cita" nillable="true" type="tns:Cita" />
  <xs:complexType name="Profesional">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profesional" nillable="true" type="tns:Profesional" />
  <xs:complexType name="RespuestaBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaBase" nillable="true" type="tns:RespuestaBase" />
  <xs:complexType name="ParametroInformarLlegadaPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCita" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParametroBase" nillable="true" type="tns:ParametroBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametroInformarLlegadaPaciente" nillable="true" type="tns:ParametroInformarLlegadaPaciente" />
  <xs:complexType name="RespuestaInformarLlegadaPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="RespuestaBase" nillable="true" type="tns:RespuestaBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaInformarLlegadaPaciente" nillable="true" type="tns:RespuestaInformarLlegadaPaciente" />
</xs:schema>